<div class="col-md-5">
  <a href="#/inbox/submit" class="btn btn-primary" type="button" name="button"><i class="fa fa-plus"></i></a>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Service Location</th>
        <th>Author</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="ticketFocus(ticket)" ng-repeat="ticket in tickets">
        <td>{{ticket.subject}}</td>
        <td>{{ticket.service_location}}</td>
        <td>{{ticket.author}}</td>
        <td>{{ticket.date_submitted}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-7">
  <div class="list-group">
    <div class="list-group-item">
      <h3 class="text-center">{{current.subject}}</h3>
      <div class="clearfix">
        <div aria-label="..." class="btn-group pull-right" role="group">
          <button class="btn btn-default" type="button"><i class="fa fa-mail-reply center"/></button>
          <button class="btn btn-default" type="button">
            <i class="fa fa-mail-forward center"/></button>
          <button class="btn btn-default" type="button"><i class="fa fa-upload"/>
          </button>
        </div>
      </div>
    </div>
    <a class="list-group-item" href="#" ng-repeat="message in messages">
      <h4 class="list-group-item-heading">
        {{message.author}}
      </h4>
      <p class="list-group-item-text">{{message.message}}</p>
    </a>
  </div>
</div>
